<div>
	<form method="POST" action="/recipes/<%=@recipe.id%>">
		<input id="hidden" type="hidden" name="_method" value="patch">
		<label>Recipe Name</label>
		<input type="text" name="name" value = "<%=@recipe.name%>">
		<br>
		<label>Ingredients</label>
		<input type="text" name="ingredients" value = "<%=@recipe.ingredients%>">
		<br>
		<label>Cook Time</label>
		<input type="number" name="cook_time" value = "<%=@recipe.cook_time%>">
		<br>
		<input type="submit" value="Submit Recipe" id = "submit">
	</form>
</div>