<div>
	<form method="POST" action="/recipes">
		<label>Recipe Name</label>
		<input type="text" name="name">
		<br>
		<label>Ingredients</label>
		<input type="text" name="ingredients">
		<br>
		<label>Cook Time</label>
		<input type="number" name="cook_time">
		<br>
		<input type="submit" value="Submit Recipe">
	</form>
</div>